#ui-bar {
  display: none;
  width: 0;
}

#story {
  margin: 0;
  font-family: var(--body-font);
}

.body-small {
  font-size: 12px;
  font-weight: lighter;
}

#ui-dialog {
  filter: drop-shadow(0 0 0.75rem var(--os-accent-40pc));
  border: 2px solid var(--flip-flop-purple);
  border-radius: 8px;
}

#ui-dialog-body {
  color: var(--dark-text-color);
  background-color: var(--flip-flop-dialog-color);
  border: none;
  border-radius: 0px 0px 6px 6px;
}

#ui-dialog-titlebar {
  background-color: var(--flip-flop-purple);
  border-radius: 6px 6px 0px 0px;
}

#ui-dialog-title {
  font-family: var(--flip-flop-font);
}

#ui-dialog-close {
  border-radius: 0px 6px 0px 0px;
}

#ui-dialog::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: calc(1.5em - 1px);
	right: calc(100% - 0.375em);
	border: calc(0.75rem + 2px) solid transparent;
	border-top: none;
	border-bottom-color: var(--flip-flop-purple);
  	transform: rotate(-90deg);
}

#ui-dialog::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 1.5em;
	right: calc(100% - 0.4rem);
	border: .75rem solid transparent;
	border-top: none;
	border-bottom-color: var(--flip-flop-dialog-color);
  	transform: rotate(-90deg);
}

#sprite {
  position: fixed;
  width: 100px;
}

body[data-tags~="OS"] {
 	background-color: var(--os-background); 
}

body[data-tags~="OS"] #ui-overlay {
  	visibility: visible;
  	background-image: url("https://media.discordapp.net/attachments/603405372748988426/1185227203512897689/noise.png?ex=658ed7d9&is=657c62d9&hm=d0f95208bc8ffa6f32109fa59feef6e3e1cd06b61e11845aeac29d4d5fb27e0b&=&format=webp&quality=lossless&width=384&height=384");
  	background-repeat: overlay;
  	opacity: 0.08;
  	mix-blend-mode: normal;
  	pointer-events: none;
}

body[data-tags~="Inbox"] #passages {
  all: unset;
  width: 100%;
  margin: 0;
}

body[data-tags~="Inbox"] .passage {
  	all: unset;
    padding: 32px;
	display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    line-height: 1;
}

body[data-tags~="Magic-Web"] #passages {
  all: unset;
  width: 100%;
  margin: 0;
}

body[data-tags~="Magic-Web"] .passage {
  	all: unset;
    padding: 32px;
	display: flex;
    flex-direction: column;
}

body[data-tags~="Magic-Web"] {
  background-image: url("https://github.com/caroldinh/fairy-quest/blob/main/images/ScrollBlank.jpg?raw=true");
  background-size: 100vw 100vh;
}

.flip-flop {
  color: var(--flip-flop-theme);
}

.olsen {
  color: var(--olsen-theme);
  font-family: var(--olsen-font);
}

#player-response {
  color: var(--olsen-theme);
  font-family: var(--olsen-font);
  height: fit-content;
  background-color: #fff !important;
  border: 0.5px solid var(--flip-flop-purple);
}

#player-response-button {
  background-color: var(--flip-flop-purple);
  border-radius: 4px;
  border: #fff;
}

.symbolic-link {
  display: none;
}

body[data-tags~="Magic-Web"] h1 {
  font-family: var(--scroll-font);
  text-align: center;
  margin: 8%;
  color: var(--scroll-background);
  font-size: 5em;
}